body {
    margin: 1rem;
    font-family: sans-serif;
    background: black;
    color:white;
}

.active-step {
    display: block;
}

.diagram-container {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 1rem;
}

.block {
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border: 4px dashed #ccc;
}

.blockReplica1 {
    opacity: 30%;
}

.blockReplica2 {
    opacity: 20%;
}

.user-app {
    left: 25%;
    top: 50%;
}
.rds-cluster {
    left: 75%;
    top: 50%;
}
.vtgate-block {
    left: 35%;
    top: 40%;
}
.etcd-block {
    left: 25%;
    top: 20%;
}
.vtorc-block {
    left: 25%;
    top: 50%;
}
.vtctld-block {
    left: 25%;
    top: 75%;
}

.arrow-line {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    stroke: white;
}

.arrow-line marker path {
    fill: white;
}

.step-btn {
    background:#F05E19;
    font-size: 1rem;
    font-family: "Arial", serif;
    cursor: auto;
}

.step-block {
    display: none;
}

.step-block.show {
    display: block;
}

#step-0 {
    display: block;
}

#step-1 {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 600px;
}
